@font-face {
    font-family: 'shabnam';
    src: url(../assets/fonts/Shabnam/Shabnam.woff) format(woff);
}

* {
    font-family: 'shabnam';
    direction: rtl;
    margin: 0;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    width: 100%;
    min-height: 100vh;
    max-height: 900px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 450px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-left-radius: 7%;
    border-bottom-left-radius: 7%;
    padding: 30px 0;
    backdrop-filter: blur(50px);
    margin-left: 10px;
}

.info img {
    width: 200px;
    height: 200px;
}
.info h2 {
    color: rgb(255, 255, 255);
    font-weight: 400;
}
.info p,a {
    color: rgb(255, 255, 255);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.884);
    border-top-right-radius: 7%;
    border-bottom-right-radius: 7%;
    height: 450px;
    width: 700px;
    padding: 30px 0;
    margin-right: 10px;
}

.contentForm {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: rgb(248, 248, 248);
}

#LoginForm {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly !important;
    align-items: center;
    color: rgb(248, 248, 248);
}

.inputs {
    display: flex;
    flex-direction: column;
    position: relative;
}
.inputs input {
    border-radius: 20px;
    border: none;
    width: 300px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
}
.inputs span {
    font-size: 14px;
    position: absolute;
    top: 44px;
    color: rgb(255, 0, 0);
}
.inputCheckbox label a{
    color: white;
}
.inputCheckbox input{
    margin-right: 8px;
    width: 15px;
    height: 15px;
}

.btnSubmit button {
    color: #ffffff;
    background-color: green;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 9%;
    cursor: pointer;
    font-size: 18px;
    transition: all .5s;
}
.btnSubmit button:hover {
    background-color: rgb(0, 85, 0);
}



/* /////////////// mediaquery ///////////////// */

/* @media screen and (max-width: 720px) {
    .body {
        height: 900px;
    }
    .info img {
        width: 150px;
        height: 150px;
    }
    .info h2 {
        font-weight: 300;
        font-size: 20px;
    }
    .info p,a {
        color: rgb(255, 255, 255);
        font-size: 13px;
    }
    .main {
        margin-right: 20px;
    }
    .contentForm h1 {
        font-size: 20px;
    }
    .inputs input {
        width: 250px;
        height: 35px;
        font-size: 15px;
    }
} */
@media screen and (max-width: 720px) {
    .body {
        flex-direction: column;
        height: 1000px;
    }
    .info {
        width: calc(100% - 20px);
        border-top-right-radius: 7%;
        border-top-left-radius: 7%;
        border-bottom-left-radius: 0;
        margin: 5px 10px 0 10px;
    }
    .main {
        border-top-right-radius: 0;
        border-bottom-left-radius: 7%;
        border-bottom-right-radius: 7%;
        width: calc(100% - 20px);
        margin: 0 10px 5px 10px;
        height: 600px;
    }
    .inputs input {
        width: 200px;
        height: 28px;
        font-size: 15px;
    }
    .inputs span {
        font-size: 10px;
        position: absolute;
        top: 35px;
        color: rgb(255, 0, 0);
    }
}






/* ///////////////////// mediaquery ///////////////// */